body {
    margin: 0px;
    padding: 0px;
    font-family: Calibri;
    background-color: #101010;
}

nav > ul{
    margin: 0px;
    padding: 0px;
    position: fixed;
    background-color: black;
    border-bottom: 1px solid white;
    width: 100%;
	z-index: 1;
}

nav li{
    list-style-type: none;
}

nav > ul >li{	
    float: left;
    position: relative;
    font-size: 100%;
}

.sousmenu{
    display: none;
}

nav {
    width: 100%;
    background-color: black;
}

nav > ul::after{
    content: "";
    display: block;
    clear: both;
}

nav a{
    display: inline-block;
    text-decoration: none;
}

nav > ul > li > a{
    padding: 20px 3.6em;
    color: #FFFFFF;
    font-family: cursive;
}

nav > ul > li:hover a{
    padding: 15px 3.6em 20px 3.6em;
}

nav li:hover .sousmenu{
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}

.sousmenu li{
    border-bottom: 1px solid #CCC;
}

.sousmenu li a{
    padding: 15px 20px;
    font-size: 15px;
    color: #FFFFFF;
    width: 170px;
}


nav > ul > li:hover{
    border-top: 5px solid rgb(22, 64, 200);
    background-color: rgb(10,150,250); ;
}

.sousmenu{
    background-color: black ;
}

.sousmenu li:hover a{
    font-weight: bold;
    color: white;
}

.sousmenu li:hover{
    background-color: rgb(10,150,250);
}

.i1{
    width: 40%;
    position: relative;
}


body > nav > div{
    display: block;
    background-color: black
}

body > nav{
    border-bottom: 1.5px solid white;
}

.section1 p{
    color: white;
    margin: 15px;
    font-size: 149%;
}

.section1{
    display: block;
    width: 100%;
    margin-top: 0px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
	float:left;
}

.image2{
    width: 17.8%;
    float: right;
}

.section2 p{
    color: white;
    font-size: 149%;
    margin-left: 29.1%;

}


.section1 .bleu{
    color: rgb(10,150,250) ;
    font-family: cursive;
}

.section2 .bleu{
    color: rgb(10,150,250) ;
    font-family: cursive;
}

.section3 .bleu{
    color: rgb(10,150,250) ;
    font-family: cursive;
}

.section1 .titreart1{
    font-weight: bold;
}

.image3{
    width: 27.1%;
    float: left;
}

.section2{
    display: block;
    width: 100%;
    margin-top: 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
	float:right;
}

.section2 .titreart2{
    font-weight: bold;
}

nav > div{
    background-image: url('ia.jpg');
    background-repeat: no-repeat;
    background-size: 700px;
    width: 100%;
    height: 450px;
}

.section3 p{
    color:white;
    font-size: 149%;
    margin: 15px;
}

footer .div3 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer .div3 a:hover{
    color: rgb(10,150,250);
}

.image4 {
    float: right;
    width: 17.8%;
}

.section3{
    display: block;
    width: 100%;
    margin-top: 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
	float:left;
}

.section3 .titreart3{
    font-weight: bold;
}

body > div > section:hover{
    box-shadow: 11px 5px 5px rgb(10,150,250);
    background-color: black;
}

div section a{
    text-decoration: none;
    font-family: inherit;
}

.section4 .bleu{
    color: rgb(10,150,250) ;
    font-family: cursive;
}

.section4 .titreart4{
    font-weight: bold;
}

.section4 p{
    color:white;
    font-size: 149%;
    margin-left: 29%;
}

.section4{
    display: block;
    width: 100%;
    margin-top: 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
	float:right;
}

.logo{
    float: right;
    display: block;
    margin-right:-22em;
    padding-left: 0%;
    padding-bottom: 0px;
}

.imagelogo{
    width: 18.8%;
}

.foot{
    color: white;
    text-align: center;
    font-size: 110%;
    top: 20%;
    line-height: 40px;
    text-decoration: none;
}

body > footer{
    width: 100%;
    float: left;
    display: flex;
    padding: 0px;
    margin-top: 150px;
    background-color: black;
    height: 30%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    align-content: stretch;
    justify-content: space-around;
}

.logo2{
    width: 50%;
}

.image5{
    width: 27%;
    float: left;
}

footer > div {
    flex-basis: 33%;
    text-align: center;
    padding-top: 4.5%;
    color: white;
    list-style-type: none;
    line-height: 160%;
    font-size: 110%;
}

a[href^="mailto"]::before {
    content: "📧";
}

a[href^="tel"]::before {
    content: "📞";
}

.baspage li:hover a{
    color: rgb(10,150,250);
}

.contact1{
    color:white;
    font-size: 112%;
}

.baspage{
    text-align: center;
    color: white;
    list-style-type: none;
}

#scroll{
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}

#scroll img{
    width: 25px;
    background-color: black;
}

.t1{
    color: white;
    text-align: center;
    display: block;
    position: absolute;
    top: 16%;
    right: 35%;
    font-size: 500%;
    font-family: Tahoma, sans-serif;
}

.ia1 {
    position: absolute;
    color: rgb(10,150,250);
    right: 29%;
    top: 16%;
    font-size: 500%;
    font-family: Tahoma, sans-serif;
}

.serpent{
    width: 13%;
    float: right;
    position: relative;
    top: 35%;
    right: 10%;
    opacity: 0.9;
}

.imgReseau{
    width: 30px;
}

.white {
	color:white;
    font-size: 150%;
    margin-left: 4%;
	margin-right: 4%;
}

.titrearticle {
	color: rgb(10,150,250) ;
	font-size: 200%;
	margin-left : 4%;
	text-decoration:underline;
}

.italicbapt {
    font-size: 75%;
    font-style: italic;
    color: grey;
}

.photo1bapt{
    width: 60%;
    margin-left: 2%;
}

.texte1bapt {
    font-size: 118%;
    color: rgb(10,150,250);
    text-decoration: underline;
}

.textesoulgnebapt{
    text-decoration: underline;
}

.sourcebase {
    font-size: 85%;
    color: rgb(10,150,250);
    text-decoration: underline;
    margin-bottom: -0.2%;
}

.sourcebasepetite{
    font-size: 80%;
    color: rgb(10, 81, 133); 
}

.imgbanphil {
    width:100%;
}

.imgphil {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.special{
    border-bottom: solid 2px white;
    padding-bottom: 2%;
}

.sourcesphil {
    font-size: 100%;
    color:white;
    text-decoration: underline;
    margin-bottom: -0.2%;
    margin-left: 0%;
}

.sourcesphil:hover {
    color: rgb(10,150,250);
}

.photo1Stev{
    width: 55%;
    display: block;
    margin:auto;
}

.t1Stev{
    color: white;
    text-align: center;
    display: block;
    position: absolute;
    top: 16%;
    right: 31%;
    font-size: 500%;
    font-family: Tahoma, sans-serif;
}

iframe {
	display: block;
    margin:auto;
    width: 50%;
    height: 350px;
	border:none;
}

@media screen and (max-width: 1250px) {
    nav > ul > li {
        font-size: 90%;
    }
    .imagelogo{
        width: 17%;
    }
}

@media screen and (max-width: 1150px) {
    nav > ul > li {
        font-size: 80%;
    }
    .imagelogo{
        width: 16%;
    }
}

@media screen and (max-width: 1050px) {
    nav > ul > li {
        font-size: 61%;
    }
    .imagelogo{
        width: 16%;
    }
}

@media screen and (max-width: 900px) {
    footer .div1,
    footer .div3{
        font-size: 80%;
    }
}

@media screen and (max-width: 850px) {
    body > div{
        font-size: 75% ;
    }
}